/* Base Application Styles */
/*loading部分*/
$width: 20px;
.loading{
  width: 20px;
  height: 20px;
  margin: 0 auto;
  
}
.loadmore{
  text-align: center;
  color:#8c8c8c;
  font-size:12px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@keyframes Spinner-fade-2kDl{
0% {
    opacity: .85;
}
50% {
    opacity: .25;
}
100% {
    opacity: .25;
}
}

.Infinite-loading-3ZpH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
}
.Spinner-root-1qUQ {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}
.Spinner-blade-2zCD:nth-child(1) {
    -webkit-animation-delay: -1.66667s;
    animation-delay: -1.66667s;
    -webkit-transform: rotate(30deg) translateY(-150%);
    transform: rotate(30deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(2) {
    -webkit-animation-delay: -1.58333s;
    animation-delay: -1.58333s;
    -webkit-transform: rotate(60deg) translateY(-150%);
    transform: rotate(60deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(3) {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
    -webkit-transform: rotate(90deg) translateY(-150%);
    transform: rotate(90deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(4) {
    -webkit-animation-delay: -1.41667s;
    animation-delay: -1.41667s;
    -webkit-transform: rotate(120deg) translateY(-150%);
    transform: rotate(120deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(5) {
    -webkit-animation-delay: -1.33333s;
    animation-delay: -1.33333s;
    -webkit-transform: rotate(150deg) translateY(-150%);
    transform: rotate(150deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(6) {
    -webkit-animation-delay: -1.25s;
    animation-delay: -1.25s;
    -webkit-transform: rotate(180deg) translateY(-150%);
    transform: rotate(180deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(7) {
    -webkit-animation-delay: -1.16667s;
    animation-delay: -1.16667s;
    -webkit-transform: rotate(210deg) translateY(-150%);
    transform: rotate(210deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(8) {
    -webkit-animation-delay: -1.08333s;
    animation-delay: -1.08333s;
    -webkit-transform: rotate(240deg) translateY(-150%);
    transform: rotate(240deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(9) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: rotate(270deg) translateY(-150%);
    transform: rotate(270deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(10) {
    -webkit-animation-delay: -.91667s;
    animation-delay: -.91667s;
    -webkit-transform: rotate(300deg) translateY(-150%);
    transform: rotate(300deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(11) {
    -webkit-animation-delay: -.83333s;
    animation-delay: -.83333s;
    -webkit-transform: rotate(330deg) translateY(-150%);
    transform: rotate(330deg) translateY(-150%);
}
.Spinner-blade-2zCD:nth-child(12) {
    -webkit-animation-delay: -.75s;
    animation-delay: -.75s;
    -webkit-transform: rotate(1turn) translateY(-150%);
    transform: rotate(1turn) translateY(-150%);
}
.Spinner-blade-2zCD {
    position: absolute;
    left: 44.5%;
    top: 37%;
    width: 10%;
    height: 25%;
    border-radius: 50%/20%;
    background-color: #8c8c8c;
    -webkit-animation: Spinner-fade-2kDl 1s linear infinite;
    animation: Spinner-fade-2kDl 1s linear infinite;
}

